@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;600&display=swap');

:root{
--indent:30px;
--closeDiameter:65px;
--bg:#fff;
--headers:#00AEEF;
--text:#333;
--subtext:#999;
--important:#f1574b;
--button:#fffb;
--up:175vh;
--blur:blur(10px);
}
@media(prefers-color-scheme:dark){
	:root{
	--bg:#444;
	--headers:#1BC9FF;
	--text:#fff;
	--subtext:#bfbfbf;
	--important:#FF6E60;
	--button:#444b;
	}
}

body{
margin:auto;
max-width:1300px;
font-family:Google Sans;
font-weight:600;
background:var(--bg);
color:var(--text);
overflow-y:scroll;
}

a{
color:var(--headers);
outline:none;
appearance:none;
-webkit-appearance:none;
-moz-appearance:none;
}

header{
margin:30px auto;
padding:0 var(--indent);
}

#logo{
width:190px;
display:block;
}

h1,h2{
margin:30px 0;
color:var(--headers);
line-height:1.5em;
}

#headers{
display:none;
position:sticky;
top:0;
z-index:100;
max-width:100%;
overflow-x:scroll;
overflow-y:hidden;
background:var(--bg);
scrollbar-width:none;
height:4.5em;
display:flex;
align-items:center;
}
.headers{
padding:0 var(--indent);
white-space:nowrap;
}
.headers a{
font-size:.85em;
text-transform:uppercase;
display:inline-block;
border-radius:50px;
border:2px solid var(--headers);
padding:.75em 1em;
text-decoration:none;
}

#items{
margin:0 auto 50px;
}
#items.up{
margin:0 auto calc(50px - var(--up));
}

h2{
position:sticky;
z-index:10;
top:0;
padding:.75em var(--indent);
text-transform:uppercase;
display:none;
background:var(--button);
backdrop-filter:var(--blur);
text-align:center;
margin:100px 0 -20px;
}

section:first-child h2{
margin:0 0 -20px;
}

.category{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:var(--indent);
padding:0 var(--indent);
margin:50px auto;
}

.item{
position:relative;
padding-bottom:calc(var(--indent) * 1.75);
}

.item img{
width:100%;
border-radius:calc(var(--closeDiameter) / 2);
background:#fff;
}

.article{
color:var(--subtext);
font-weight:500;
font-size:.85em;
margin:1em 0 .5em;
}

.amount{
color:var(--subtext);
font-weight:500;
}

.price{
position:absolute;
bottom:0;
left:0;
font-size:1.6em;
font-weight:500;
}
.price s{
color:var(--subtext);
font-size:.75em;
}
.price s:after,.price span:after{
content:'₽';
margin-left:.2em;
}
.price span{
color:var(--important);
margin-left:.5em;
}

.more{
cursor:pointer;
}

#up{
display:none;
position:sticky;
margin-top:var(--up);
bottom:0;
z-index:100;
}
#up:after{
content:'Наверх';
background:var(--button);
backdrop-filter:var(--blur);
border-radius:50px;
color:var(--headers);
font-weight:500;
position:absolute;
bottom:20px;
right:calc(var(--indent) - 1em);
line-height:1.25em;
padding:.75em 1em;
cursor:pointer;
}



/* Модальное окно с формой входа */
#item{
display:none;
position:fixed;
top:0;
left:0;
z-index:1000;
width:100%;
height:100vh;
background:var(--bg);
overflow-y:scroll;
overflow-x:hidden;
outline:none;
appearance:none;
-webkit-appearance:none;
-moz-appearance:none;
}

#share{
color:var(--headers);
font-size:1.25em;
line-height:35px;
padding:15px 25px;
border-radius:50px;
font-weight:500;
position:fixed;
background:var(--button);
backdrop-filter:var(--blur);
top:15px;
right:calc(70px + var(--indent));
cursor:pointer;
}
#share:after{
content:'Поделиться';
}

#close{
position:fixed;
border-radius:50px;
background:var(--button);
backdrop-filter:var(--blur);
top:15px;
right:var(--indent);
width:var(--closeDiameter);
height:var(--closeDiameter);
cursor:pointer;
}
.close:before,.close:after{
content:'';
position:absolute;
--closeWidth:45px;
--closeHeight:3px;
width:var(--closeWidth);
height:var(--closeHeight);
top:calc((100% - var(--closeHeight)) / 2);
left:calc((100% - var(--closeWidth)) / 2);
background:var(--text);
}
.close:before{
transform:rotate(45deg);
}
.close:after{
transform:rotate(-45deg);
}

#item_body{
max-width:450px;
margin:90px auto 60px;
padding:0 var(--indent);
}
#item img{
width:100%;
border-radius:calc(var(--closeDiameter) / 2);
}
#name{
font-size:1.25em;
}
#amount{
color:var(--subtext);
font-weight:500;
}
#descr{
margin:1em 0;
font-weight:500;
}


@media(max-width:1000px){
	.category{
	grid-template-columns:repeat(3,1fr);
	}
}
@media(max-width:700px){
	:root{
	--indent:15px;
	}
	#up:after{
	right:var(--indent);
	}
	.item{
	padding-bottom:calc(var(--indent) * 2.5);
	}
	.category{
	grid-template-columns:repeat(2,1fr);
	}
}
